@model Ecommerce.Models.Category

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}





<div class="app-content content">
    <div class="content-wrapper">
        <div class="content-wrapper-before"></div>
        <div class="content-header row">
            <div class="content-header-left col-md-4 col-12 mb-2">
                <h3 class="content-header-title">Kateqoriya Dəyiş</h3>
            </div>
            <div class="content-header-right col-md-8 col-12">
                <div class="breadcrumbs-top float-md-right">
                    <div class="breadcrumb-wrapper mr-1">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a href="index-2.html">Ana Səhifə</a>
                            </li>
                            <li class="breadcrumb-item">
                                <a href="#">Redaktə</a>
                            </li>
                            <li class="breadcrumb-item active">
                                Kateqoriyalar
                            </li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
        <div class="content-body">



            <div class="card" style="width: 100%;">
                <div class="card-header">
                    <h4 class="card-title" id="basic-layout-form">Kateqoriyalar</h4>
                </div>
                <div class="card-content collapse show">
                    <div class="card-body">
                        <form method="post" action="@Url.Action("edit", "categories")">
                            <div class="form-body">
                                <input type="hidden" value="@Model.id" />
                                <div class="form-group">
                                    <label for="companyName">Ad</label>
                                    <input type="text" id="companyName" class="form-control" value="@Model.name" name="name">
                                </div>
                                <div class="form-check form-check-inline">
                                    @if (Model.status == true)
                                    {
                                        <input checked class="form-check-input" name="status" type="checkbox" id="inlineCheckbox1" value="true">
                                    }
                                    else
                                    {
                                        <input class="form-check-input" name="status" type="checkbox" id="inlineCheckbox1" value="true">
                                    }

                                    <input type="hidden" value="false" name="status" />
                                    <label class="form-check-label" for="inlineCheckbox1">Status</label>
                                </div>
                            </div>
                            <div class="form-actions">
                                <a href="@Url.Action("index","categories")" class="btn btn-danger mr-1">
                                    <i class="ft-x"></i> Ləğv et
                                </a>
                                <button type="submit" class="btn btn-primary">
                                    <i class="la la-check-square-o"></i> Dəyiş
                                </button>
                            </div>

                        </form>
                    </div>

                </div>
            </div>
        </div>


    </div>
</div>